/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*------General  Styles--------*/
  html {
    font-size: 16px;
  }

  body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  }
   
  ul, 
  ol {
    list-style-type: none;
    font-size: 1.125em;
    margin: 0;
   
  }
   
  a {
    color: #e2e3ed;
    text-decoration: none;
  }
   
  h2 {
   font-family: 'Poppins', sans-serif;
   font-size: 1.875em;
   color: #e2e3ed;
   font-weight: 500;
    margin-top: 0;
  }
   
  h3, 
  h4 {
   margin: 0;
   font-family: 'Poppins', sans-serif;
   font-weight: 500;
   line-height: 1.125em;
   font-size: 1.125em;
   color: #e2e3ed;
  }

  footer h4 {
    margin: 0 15px;
  }
   
  p {
    font-size: 0.875em;
    font-weight: normal;
    color: #e2e3ed;
  }
   
  img {
   width: 100%;
  }
   
  figure {
   margin: 0;
  }
   
  address {
   font-style: normal; 
  }
   
  .content-wrapper {
   
  }


/*------Base Styles--------*/

   .content-wrapper {
    width: 90%;
    margin: 50px 0;
   }

/*-------------------Base Header - Footer Styles----------------*/

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #202322
}

header {
  padding: 15px 0;

}
header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;

}

header figure {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.header-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
  background-color: #3a3a3a;

}

header nav {  
  width: 60%; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
}

header nav ul {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  list-style-type: none;
}

footer p {
  margin: 0;
}

 footer {
  flex-direction: column;
} 

footer .contact, footer .social  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
}

footer h4 {
  margin-bottom: 18px;
}

footer .social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social-icons p {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .content-wrapper {
  width: 55%;
  margin: 50px 0;
}

footer .contact {
  margin-bottom: 50px;
}


footer .copyright {
margin: 0 0 20px 0;

}
/* ==========================================================================
   Mobile Styles - Homepage
   ========================================================================== */
.hero-area {
  background: url("../img/hero-image.jpg") bottom no-repeat #253229;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-flow: row wrap;
}

.hero-area h1 {
  padding: 0;
  font-size: 2.25em;
  color: #e2e3ed;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  }

.hero-area {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

aside .content-wrapper {
  margin-top: 25px;
}

/*******Input form Area*******/
aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-size: 0.875em;
  font-style: italic;
  color: #a2a3a9;
  padding: 18px 0;
  margin-top: 18px;
}
 
input[type=button] {
  width: 100%;
  padding: 16px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}


/*-----Features----*/

.features {
  background: url("../img/unplugged-outdoors.jpg") center no-repeat #332920;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.features h2 {
  margin-bottom: 60px;
  line-height: 35px;
}
.features .features-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:row wrap;
} 

.features article {
  width: 55%;
  margin: 30px auto;
}

.features p {
  margin: 0;
}

.features i {
  font-size: 3.75em;
  padding-bottom: 40px;
}

/*------ Reviews -----*/
.reviews {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background-color: #2a423a;
}

.reviews h2 {
  margin-bottom: 40px;
  line-height: 30px;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
}

/* ==========================================================================
   Mobile Styles - About page
   ========================================================================== */


.mission {
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-flow: row wrap;
  background-color: #527158;
} 


.map figure {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  overflow: hidden;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #2a423a;
}

.contact-section h4 {
  margin: 18px 0;
}

.contact-section h2 {
  margin: 0;
  margin-bottom: -8px;
}

.contact-content p {
  margin: 0;
}


/* ==========================================================================
   Mobile Styles - FAQS page
   ========================================================================== */
.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

.faq .content-wrapper {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.faq h2 {
  margin-bottom: 40px;
}

.faq-content {
  margin-bottom: 50px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*---Tablet Styles here----*/


  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
  }


/*-------Header-------*/
  header  { 
   display: flex;
   justify-content: space-between;
   flex-flow: row nowrap;
  }

   header .content-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    width: 100%;
   }

   header figure {
    width: 47%;
   }

   header nav {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    margin-right: 60px;
   }

   header nav ul {
    display: flex;
    justify-content: space-around;
    width: 130px;
   }

   .header-divider {
    display: none;
   }

   /* ==========================================================================
   Tablet Styles - Homepage
   ========================================================================== */

  /*----Hero Area-------*/
  .hero-area {
    height: 600px;
  }

  .hero-area h1 {
    font-size: 3em;
    width: 84%;
  }

/*-------Aside Area-------*/
   aside .content-wrapper {
    margin: 50px 0 ;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

   }

   .sign-up-form {
    width: 40%;
    margin: 0;
   }


   aside .form {
    width: 45%;  
    margin: 0;
   }

   input[type=text] {
    padding: 13px 0;
   }

    input[type=button] {
    padding: 11px 0;
   }

   /*-------Features styles------*/   

   .features .content-wrapper {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .features .features-items {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
  }

  .features i {
  font-size: 4.375em;
  padding-bottom: 30px;
  }

  /*---------Reviews styles-------*/

  .reviews h2 {
    width: 75%;
    margin-bottom: 25px;
  }

  .reviews article {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .reviews h3 {
    margin: 0 0 20px 0;
  }

  .reviews article div {
    flex-basis: 50%;
  }

  .reviews figure {
    width: 48%;
  }

  /*-------Footer styles-------*/

  footer .footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  footer .contact, footer .social  {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: row wrap;
  }

  footer .content-wrapper {
    margin: 100px 0;
    width: 75%;
  }

  footer h4 {
    font-size: 1.5em;
  }

  /* ==========================================================================
   Tablet Styles - About page
   ========================================================================== */
   .mission-content {
     display: flex;
     justify-content: space-between;
     flex-flow: row nowrap;
   }

   .mission-content p {
     width: 47%;
     margin: 0;
   }

   .mission h2 {
     width: 95%;
   }

  .map figure {
    position: relative;
    padding-bottom: 45%;
    }

   .contact-section h2 {
    width: 80%;
    margin-bottom: 37px;
   }

   .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   }

   /* ==========================================================================
   Tablet Styles - FAQ page
   ========================================================================== */

   .faq .content-wrapper {
    justify-content: space-between;
   }


   .faq-content {
    flex-basis: 45%;
   }

   .faq h2 {
    flex-basis: 100%;
   }

   .faq h4 {
    font-size: .875em;
    font-weight: 500;
   }
}

@media only screen and (min-width: 1200px) {
/*---Desktop Styles here----*/

  .content-wrapper {
    max-width: 960px;
  }

  h3, h4 {
    font-size: 1.875em;
  }

  p {
    font-size: 1.125em;
  }

  /*-------Header-------*/
  header {
    margin: 0 auto;
  }

  header .content-wrapper {
    margin-left: 240px;
  }

  header figure {
   width: 42%;
   }

  header nav {
    margin-right: 240px;
  }

   header nav ul {
    display: flex;
    justify-content: space-between;
    width: 140px;
   }

   footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }

   footer h4 {
    font-size: 1.875em;
   }

   /* ==========================================================================
   Desktop Styles - Homepage
   ========================================================================== */
   /*------Hero Area------*/
   .hero-area {
    height: 600px;
    margin: 0 auto;
    background-image: #202322 url("../img/hero-image.jpg") no-repeat fixed;
    background-size: cover;
    }

    .hero-area h1 {
      width: 665px;
      color: #e2e3ed;
      font-size: 60px;
    }

    /*------Aside------*/
    aside {
      background: #527158;
      justify-content: space-around;
    }

    aside .content-wrapper {
      max-width: 800px;
    }

    aside .content-wrapper .form-description, 
    aside .content-wrapper .form {
      width: 40%;
    }

    input[type=text] {
      padding: 16px 0;
      width: 320px;
      font-size: 1.125em;
    }

    input[type=button] {
      padding: 13px 0;
      width: 320px;
      font-size: 1.5em;
    }
    /*------Features------*/

    .features h2 {
      width: 88%;
      font-size: 2.25em;
      height: 32px;
    } 

    .features {
      height: 960px;
      margin: 0 auto;
      background-image: #202322 url("../img/unplugged-outdoors.jpg") no-repeat center fixed;
      background-size: cover;
    }

    .features .content-wrapper {
      display: flex;
      justify-content: space-between;
      flex-flow: row wrap;
    }

    .features-items {
      flex-basis: 20%;
    }

    .features article {
      margin: 30px 60px;
    }

    .features i {
      font-size: 4.688em;
      padding-bottom: 35px;
    }

    /*--------Reviews-------*/

    .reviews h2 {
      width: 75%;
      font-size: 2.25em;
      margin-bottom: 90px;
    }

    .reviews article div {
      width: 40%;
      margin: 0 0px;
    }

    .reviews figure {
      width: 47%;
    }

    /* ==========================================================================
   Desktop Styles - About Page
   ========================================================================== */
    
    .mission h2,
    .contact-section .content-wrapper h2 {
      width: 96%;
      font-size: 48px;
    }

    .contact-section .content-wrapper h2 {
      margin-bottom: 40px;
    }

    .contact-section h4 {
      margin: 0 0 40px 0;
    }

    .map figure {
      position: relative;
      padding-bottom: 37.5%;
    }

   /* ==========================================================================
   Desktop Styles - FAQ Page
   ========================================================================== */

   .faq h2 {
    width: 100%;
    font-size: 48px;
   }

   .faq h4 {
    font-size: 1.125em;
   }

   .faq-content {
    flex-basis: 430px;
   }
} 

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

